<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
    <app-toasts></app-toasts>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Service Requests</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn btn-outline-primary" routerLink="/dashboard/addservicerequests">Add</button>
                <button type="button" class="btn btn" (click)="deleteRequest()" [ngClass]="{'btn-danger':selectedService.length!==0,'btn-outline-secondary':selectedService.length===0}" [disabled]="selectedService.length===0">Delete</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="height: 30px;">
            <div class="col-lg-1 ">
                <div class="row">
                    <div class="col-lg-6"> </div>
                    <div class="col-lg-6"> <input type="checkbox" [checked]="selectAllRequests" (change)="selectAllRequests=!selectAllRequests;selectAll()" /></div>
                </div>
            </div>
            <div class="col-lg-3 search-container">
                <input type="text" name="search" id="search" placeholder="Search.." [(ngModel)]="searchString">
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-2">
                <div class="input-group mb-3">
                    Sort &nbsp;&nbsp;&nbsp; <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="sortType" (change)="sort()">
                        <option value="asc">Asc</option>
                        <option value="dsc">Desc</option>
                     </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group mb-3">
                    Sort By &nbsp;&nbsp;&nbsp; <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="sortBy" (change)="sort()">
                        <option value="requestTitle">Title</option>
                        <option value="Contact:firstName">Contact First Name</option>
                        <option value="Contact:lastName">Contact Last Name</option>
                        <option value="Contact:company">Contact Company</option>
                        <option value="Contact:ownerName">Owner</option>
                        <option value="requestStatus">Request Status</option>
                        <option value="createdOn">Creation Time</option>
                        <option value="Contact:title">Contact Title</option>
                     </select>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container" *ngIf="displayLoader">
        <div class="row mt-5">
            <div class="col-lg-12 mt-5 text-center">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="serviceRequests.length===0 && !displayLoader">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>No Service Requests to display</p>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!displayLoader">
        <div class="row" *ngIf="(serviceRequests | search : searchString:'service-requests').length===0">
            <div class="col-lg-12 text-center">
                <p>No Service request to display</p>
            </div>
        </div>
        <div class="container-fluid" *ngFor="let item of serviceRequests| search:searchString:'service-requests'; let i=index">
            <div class="row" [ngClass]="{'leadSelected':item.selected}">
                <div class="col-lg-1 p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="editbtn" [routerLink]="['/dashboard/updateservicerequest/',item['_id']]" [disabled]="item.contact['owner']!==serv.getUserData().email && serv.getUserData().userType==='employee'"><fa-icon [icon]="faPencilAlt" ></fa-icon></button>
                        </div>
                        <div class="col-lg-6">
                            <input type="checkbox" [checked]="item.selected" class="leads" (change)="item.selected=!item.selected; getSelectedRequests()" [value]="item['_id']" />
                        </div>
                    </div>

                </div>
                <!-- <div class="col-lg-1 p-3"></div> -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 style="cursor: pointer;" (click)="showDescription(item.description)">{{item.requestTitle|titlecase}} </h3>
                            <h6><u>Contact Info</u></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="font-weight-bold"><span class="text-muted font-weight-normal">Name: </span>{{item.contact.firstName |titlecase}} {{item.contact.lastName |titlecase}} <span class="text-muted font-weight-normal">| Company: </span>{{item.contact.company}}
                                <span class="text-muted font-weight-normal">| Title: </span> {{item.contact.title}} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="font-weight-bold"><span class="text-muted font-weight-normal">Phone: </span><a [href]="'tel:'+item.contact.phone">{{item.contact.phone}} </a>
                                <span class="text-muted font-weight-normal"> | Email: </span><a [href]="'mailto:'+item.contact.email">{{item.contact.email}}</a>
                                <span class="text-muted font-weight-normal"> | Mobile: </span>
                                <a [href]="'tel:'+item.contact.mobile">{{item.contact.mobile}}</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-left">
                    <p class="text-muted">Status</p>
                    <p *ngIf="!updateRequestStatus||activeRequest!==item['_id']">{{item.requestStatus}}&nbsp;&nbsp; <button class="editbtn" (click)="updateRequestStatus=!updateRequestStatus;activeRequest=item['_id'];activeRequestStatus=item.requestStatus" [disabled]="(item.contact['owner']!==serv.getUserData().email && serv.getUserData().userType==='employee') "><fa-icon [icon]="faPencilAlt" ></fa-icon></button></p>
                    <div class="input-group mb-3" *ngIf="updateRequestStatus&&activeRequest===item['_id']">
                        <div class="input-group-prepend">
                            <button class="btn btn-sm btn-danger" (click)="updateRequestStatus=!updateRequestStatus;activeRequest='';activeRequestStatus=''">x</button>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="activeRequestStatus">

                            <option value="New" [selected]="item.requestStatus==='New'">New</option>
                            <option value="Accepted" [selected]="item.requestStatus==='Accepted'">Accepted</option>
                            <option value="In Progress" [selected]="item.requestStatus==='In Progress'">In Progress</option>
                            <option value="Cancelled" [selected]="item.requestStatus==='Cancelled'" [disabled]="serv.getUserData().userType==='employee'">Cancelled</option>
                            <option value="Completed" [selected]="item.requestStatus==='Completed'" [disabled]="serv.getUserData().userType==='employee'">Completed</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-success" (click)="updateStatus(i,item['_id'],activeRequestStatus,item.requestStatus);"><fa-icon [icon]="faCheck" ></fa-icon></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right">
                    <h5 class="mt-2" style="color: #515053;">Owner: {{item.contact.ownerName|titlecase}}</h5>
                    <p class="text-muted">Created on: {{item.createdOn|date:'short'}}</p>
                </div>

            </div>
            <hr>
        </div>
    </ng-container>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Description</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1><u>Service Description</u></h1>
            <h3>{{description}}</h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        </div>
    </ng-template>
</main>