/* You can add global styles to this file, and also import other style files */

.body-class {
    background-color: #000 !important;
    color: #fff !important;
}

#avatar {
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

#avatar:focus {
    outline: 0;
}

a,
a:focus,
a:active,
button,
button:focus,
button:active {
    outline: 0 !important;
}